.editor-form-vertical-layout{
    display: flex;
    flex-direction: column;
    gap:2rem;
    height: 10rem;
}

.editor-form-horizontal-layout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1rem;
}