
.card-items-collection {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    gap: 2rem;
    flex-wrap: wrap;
    flex: 0 0 0 20%;

    padding: 2rem;
}

.card-item {
    display: flex;
    flex-direction: column;

    width: 17rem;
    height: 235px;
    border-radius: 10px;
    transition: 0.2s;
}

.card-item:hover{
    cursor: pointer;
    scale: 1.2;
    transition: 0.35s;
}


.card-item .header-card-item {
    display: block;
    width: 100%;
    height: 65%;
}

.card-item .description-card-item {
    width: 17rem;
    height: 8rem;
    background: var(--card-bg-color);
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    overflow: hidden;
    padding-top: 0.5rem;
    padding-left: 0.7rem;
    padding-bottom: 0.5rem;
    padding-right: 0.7rem;
    display: flex;
    justify-content: space-between;
    /*gap: 0.6rem;*/
}

.card-item .description-card-item h3 {
    max-width: 70%;
    color: var(--white-text-color);
    font-weight: bold;
    font-family: var(--font-epilogue);

    font-size: 1rem;
}

.card-item .description-card-item .card-views {
    display: flex;
    gap: 0.3rem;
    color: #E0D0D0;
    align-items: flex-end;
    vertical-align: middle;

}

.card-views img {

}

.card-views span {
    float: right;
}

.card-item img {
    margin-bottom: 0.3rem;
}



.wrapper-background-card-description{
    display: block;
    padding:200rem;
    position: fixed;
    top:0;
    left: 0;
    max-width:  60%;
    z-index: 1;



}


.card-description-window{
    display: flex;
    flex-direction: row;
    /*background: #E6EDF5;*/
    background: rgba(255,255,255,1);
    top:50%;
    left:50%;
    position: fixed;
    width:95rem;
    height:60rem;
    z-index: 20;
    font-family: var(--font-ptsans);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding:1.2rem;
    padding-bottom: 2rem;
}

.card-description-image{
    display: block;
    width: 50%;
    height: 100%;
    border-radius: 10px;
}
.card-description-content{
    padding: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 50%;


}
.card-description-content__header{
    font-size: 24pt;
    font-weight: bold;
    max-width: 40rem;;
    overflow:clip;
    text-wrap: normal;
    color: var(--black-text-color);
    font-family:var(--font-epilogue);
}

.card-description-content__description{
    margin-top: 2rem;
    width: 100%;

    height:75%;
    font-family: var(--font-ptsans);
    font-size: 14pt;
    overflow: scroll;

    padding-bottom: 2rem;
}

.card-description-content__filter{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2rem;
    justify-content: space-between;
    font-size: 1.4em;


}
.content__category{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    vertical-align: center;
}
.content__access{
    display: flex;
    flex-direction: row;
    gap:1rem;
    vertical-align: center;
}

.card_filter_block{
    width: 70%;
    text-align: center;
    padding: 0.2rem 0.5rem;
    background: #4C9ED8;
    border-radius: 10px;

    color: var(--white-text-color);

}


