
.image-selector-wrapper{
    display: block;
    width: 30rem;
    height: 30rem;
    padding: 1rem;
    border-radius: 10px;
    border:5px solid grey
}

.image-selector-form{
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
}

.current-image-selector{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.current-image-selector:hover{
    
}