@import url("../../../styles/_vars.css");


.filterbar-block {

    max-width: 60rem;
    min-height: 20rem;

    width: 50rem;

    display: block;
    position: absolute;

    z-index: 999;
    background: white;
    padding: 1.2rem;

    margin-top:8rem;
    margin-left:16rem;
}

.filterbar-block h3 {
    font-family: var(--font-epilogue);
    font-size: 14pt;
    font-weight: bold;
    color: var(--grey-text-color);
}

.category-choice{
    display:flex;
    gap: 1rem;
    flex: 0 0 33%;

    text-wrap: normal;
    flex-wrap: wrap;

    padding-right: 1rem;

    border-bottom: 2px solid #1a5a8e;

    margin-top:10px;
}
.category-choice{
    margin-left:10px;
    padding-bottom: 1rem;
}

.filter-bar-category{
    padding-right: 1rem;
}

.filter-bar-other{
    margin-top:25px;
    display: flex;
    flex-direction: row;
    flex: 0 0 50%;
    gap:50px;
}

.filter-bar-buttons{
        display: flex;
        flex-direction: row;
        float:right;
        gap:10px;

        cursor: pointer;
        margin-top:1rem;
        padding: 0.5rem 2rem 0.6rem 1rem;
}

.range-block{
    display: flex;
    flex-direction: row;
    gap:2rem;
    margin-top: 1rem;
}
