

input[type="number"]{
    width: 16rem;
    height: 1rem;
    border-radius: 10px;
    padding: 1.5rem;
    height: 4rem;
}

.window-score-wrapper{
    display: flex;
    flex-direction: column;
    width: 70%;
    font-family: var(--font-epilogue);
    font-weight: bolder;
    font-size: 1.5rem;
    color:grey;
    padding: 1rem;

}

textarea{
    border-radius: 10px;
    outline: none;
    border:0;
    padding: 1rem;
    font-size:1.5rem;

}

.table-header-score{
    padding: 2rem;
    display: flex;

    gap:7rem
}

.table-entry-item{
    margin-top:1rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    gap:5rem
}