@import url("../../../styles/_vars.css");
*{
    padding: 0;
    margin: 0;
}

header
{
    min-width: 100%;
    background-color: var(--nav-color);
}

.nav-list{
    list-style-type:none;
}

header .header-nav {;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.6rem;
    font-family: var(--font-ptsans);
    font-weight: normal;
    color: var(--white-text-color);
    padding-left:2rem;
    padding-right:2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.header-nav .nav-list {
    padding-top: 1rem;
}

ul li:not(:first-child)
{
    margin-left:3rem;

}
.nav-list li {
    display: inline;
}

.nav-list li a{
    color:var(--white-text-color);
    text-decoration:none;
}

.nav-list li a:visited {
    color: var(--white-text-color);
}

.nav-list li a:hover{
    color: #bbdcff;
    transition: 0.2s;
}

.user-avatar{
    display:flex;
    gap: 1.5rem;
}

.header-nav .user-avatar span{
    display: block;
    max-width: 20rem;
    text-wrap: normal;
    overflow: hidden;
    height: 4rem;
}
.header-nav img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

}

.user-avatar span{
    text-align: left;
    font-size: 1.6rem;
    font-family: var(--font-ptsans);
}

