@import url("../../../styles/_vars.css");

.register-block{
    display: block;
    width: 40rem;
    min-height: 20rem;

    margin: 5rem auto;

    background: var(--nav-color);

    padding: 2rem;

    border-radius: 10px;

}

.register-block .register-block-title{
    font-size: 2rem;
    text-align: center;
    color: var(--white-text-color);
    font-weight: bold;
    font-family: var(--font-ptsans);
}

.register-block .register-form{
    padding-left: 2rem;
    margin-top:2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.register-form label {
    display: block;
    padding: 0.4rem;
    color:var(--white-text-color);
    font-size: 1.2rem;
    font-family: var(--font-epilogue);
}
.form-register-item{
    margin-top: 204rem;
    background: red;
    width: 100%;
}

.birth_date-form{
    padding:10px;
    border: 0;
    border-radius: 10px;
    font-size: 1.5rem;
}

.avatar-date-form{
    color: var(--white-text-color);
    margin-top:1.2rem;
}
