
@import url("../../../styles/_vars.css");

.tag-item{
    display: flex;
    justify-content: space-between;
    min-width:2rem;
    height:2rem;
    border-radius: 10px;
    background-color: #4C9ED8;
    padding:1rem;
    font-size: 1rem;
    padding-top: 0.1rem;
    font-family: var(--font-epilogue);
    color: var(--white-text-color);

}
.tag-item-content{
    display: flex;
    width:100%;
    gap:1rem;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5rem;
}
.tag-item-content img{
    margin-top: 0.2rem;
    cursor: pointer;
}

.selected-tags-list{
    display: flex;
    flex-direction: row;
    gap:0.5rem;
    margin-top: 0.2rem;
}

.selected-tags-list-add{
    display: block;
    width:2rem;
    height:2rem;
    background: red;
}
.tag-search-block{
    display: block;
    position: absolute;
    background: red;
    width: 10rem;
    height: 10rem;
}