
.text-field-ui{
    max-width: 100%;

    
    /* padding:2rem; */
}


input[type='text'], input[type='password'], input[type='email'] {
    width:100%;
    border: 0;
    
    /* color: var(--grey-text-color); */
    /*font-size: 1.5rem;*/
}

.tf-background-white{
    background-color: var(--white-text-color);
}

.tf-background-darkwhite{
    background-color: rgb(185, 183, 183);

}

.tf-field-smaller{
    font-size: 1.2rem;
}

.tf-field-standart{
    font-size: 1.5rem
}

input[type="text"]:focus, input[type='password']:focus, input[type='email']:focus {
    border: 0;
    outline-width: 0;
}


.border-text-field-wrapper{
    padding: 1.2rem 1rem;
    
    border-radius: 10px;
}

.border-tf-background-white{
    background-color: var(--white-text-color);
    
}


.tf-10rem{
    width: 10rem;
}

.tf-15rem{
    width: 15rem;
}

.tf-20rem{
    width: 20rem;
}

.tf-30rem{
    width: 30rem;
}

.tf-40rem{
    width: 40rem;
}

.tf-text-black{
    color: #333;
}

.tf-text-grey{
    color: var(--grey-text-color);
}

.tf-allow-shadow{
    -webkit-box-shadow: -2px 15px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -2px 15px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -2px 15px 8px 0px rgba(34, 60, 80, 0.2);
}
.tf-label-field{

    font-family: var(--font-ptsans);
    color:grey
}

.tf-border-text-field{
    height:6rem
}

.tf-border-black{
    border:1px solid black;
}