
@import url("../../styles/_vars.css");

.editpage-wrapper{
    margin-top: 2rem;
    padding: 2rem;
}

.editor-page-header{
    border-bottom: 5px solid var(--black-text-color);
    width: 35%;
}

.editor-page-header span{
    font-size: 3rem;
    font-family: var(--font-epilogue);

}

.editor-window-wrapper{
    display: block;
    background: #fcf7f7;
    width: 100%;
    margin-top: 2rem;
    border-radius: 30px;

    padding: 2rem;

    -webkit-box-shadow: -7px 4px 31px 9px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -7px 4px 31px 9px rgba(34, 60, 80, 0.2);
    box-shadow: -7px 4px 31px 9px rgba(34, 60, 80, 0.2);
}