@import url("../../../styles/_vars.css");


.filterbar-block {

    max-width: 60rem;
    min-height: 20rem;

    display: block;
    position: absolute;

    z-index: 999;
    background: white;
    padding-top: 20px;
    padding-left: 10px;

    margin-top:8rem;
    margin-left:16rem;
}

.filterbar-block h3 {
    font-family: var(--font-epilogue);
    font-size: 14pt;
    font-weight: bold;
    color: var(--grey-text-color);
}

.category-choice{
    display:flex;
    gap: 1rem;
    flex: 0 0 33%;

    text-wrap: normal;
    flex-wrap: wrap;

    padding-right: 1rem;

    border-bottom: 2px solid #1a5a8e;

    margin-top:10px;
}
.category-choice{
    margin-left:10px;
    padding-bottom: 1rem;
}

.filter-bar-category{
    padding-right: 1rem;
}

.filter-bar-other{
    margin-top:25px;
    display: flex;
    flex-direction: row;
    flex: 0 0 50%;
    gap:50px;
}

.filter-bar-buttons{
        display: flex;
        flex-direction: row;
        float:right;
        gap:10px;
        padding-right: 10px;
}
.filter-bar-buttons .button-accept{
    display: block;
    width:110px;
    height: 35px;
    background-color: #4C9ED8;
    border-radius: 10px;
    padding-top:10px;
    text-align: center;

}
.filter-bar-buttons .button-decline{

    display: block;
    width:110px;
    height:35px;
    border-radius: 10px;
    padding-top:10px;
    text-align: center;
    background-color: var(--btn-close-color);
}

.filter-bar-buttons span{
    font-family: var(--font-epilogue);
    font-weight: bold;
    font-size: 12pt;
    color: #EFF4F8;
}

.range-block{
    display: flex;
    flex-direction: row;
    gap:2rem;
    margin-top: 1rem;
}
